<!DOCTYPE html>
{% extends 'base.html' %}
{% block head %}
{% endblock %}  
{% block title%}{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
          
    <h3>担当者記入欄削除<span style="color: red;">*</span></h3>
    <h4>※下記登録内容を削除してもよろしいですか？※</h4>
    <div class="row">
    
        <div class="col" style="padding: 0; padding-left: 12px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="theme-label-contact-edit form-control">担当者</div>
              </div>
              <div class="form-control">{{ contact.interviewer }}</div>
            </div>
        </div>
        <div class="col" style="padding: 0; padding-right: 12px;">
            <div class="input-group">
                <div class="input-group-prepend">
                <div class="theme-label-time-contact-edit form-control">退室時刻</div>
                </div>
                <div class="form-control">{{ contact.time }}</div>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
            <div class="theme-label-textarea-contact-edit form-control" rows="5">内容</div>
            </div>
            <div class="form-control">{{ contact.contents | linebreaksbr }}</div>
        </div>

        <div>
        <br>
        </div>
        <form method="post">
          {% csrf_token %}
        <div class="row" style="padding-right: 1px; padding-left: 24px;">
        <button class="btn btn-primary btn-lg" style="background-color:#999900;" autofocus>削除</button>
        </div>
        </form>
  </div>
</div>
{% endblock %}

