<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  
  <title>INDEX</title>
</head>
<body>
  <div class="container-fluid-list">
    <div class="row">
  
    <table class="table table-bordered border-success table-hover">
        <thead class="table-success">
          <tr>
            <th scope="col">id</th>
            <th scope="col">日付</th>
            <th scope="col">会社名</th>
            <th scope="col" width="8%">訪問者氏名</th>
            <th scope="col" width="20%">ご用件</th>
            <th scope="col" width="10%">対応担当者</th>
            <th scope="col" width="16%">内容</th>
            <th scope="col" width="3%"></th>
            <th scope="col" width="6%">操作</td>
            <th scope="col" width="6%">操作</td>
            <th scope="col" width="6%">操作</td>
            <th scope="col" width="6%">操作</td>
            <th scope="col" width="6%">操作</td>
          </tr>
        </thead>
        {% for visitor in visitors %}
        <tbody>
          
          <tr data-href="{% url 'visitors_card_app:detail' visitor.pk %}">
            <th scope="row">{{ visitor.id }}</th>
            <td>{{ visitor.date }}</td>
            <td>{{ visitor.company_name }}</td>
            <td>{{ visitor.visitor_name }}</td>
            <td>{{ visitor.content | linebreaksbr | truncatechars:30 }}</td>
            {% if visitor.is_contacted %}
            <td>{{ visitor.contact.interviewer }}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% if visitor.is_contacted %}
            <td>{{ visitor.contact.contents | linebreaksbr | truncatechars:30 }}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% if visitor.is_contacted %}
            <td>✅</td>
            {% else %}
            <td>&#10060;</td>
            {% endif %}
            <td>
              <button class="favorite styled" type="button" onclick="location.href='{% url 'visitors_card_app:update_visitors' visitor.pk %}'">編集1</button>
            </td>
            {% if visitor.contact.pk %}
            <td>
              <button class="favorite styled" type="button" onclick="location.href='{% url 'visitors_card_app:update_contact' visitor.contact.pk visitor.pk %}'">編集2</button>
            </td>
            {% else %}
            <td></td>
            {% endif %}
            {% if visitor.contact.pk %}
            <td>
              <button class="favorite styled" type="button" onclick="location.href='{% url 'visitors_card_app:update_allpost' visitor.pk %}'">編集3</button>
            </td>
            {% else %}
            <td></td>
            {% endif %}
            <td>
              <button class="favorite styled" type="button" onclick="location.href='#'">削除1</button>
            </td>
            <td>
              <button class="favorite styled" type="button" onclick="location.href='#'">削除2</button>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
  <script>
  jQuery(function($) {
 
    //data-hrefの属性を持つtrを選択しclassにclickableを付加
    $('tr[data-href]').addClass('clickable')
     
      //クリックイベント
      .click(function(e) {
     
        //e.targetはクリックした要素自体、それがa要素以外であれば
        if(!$(e.target).is('a' && 'button')){
         
          //その要素の先祖要素で一番近いtrの
          //data-href属性の値に書かれているURLに遷移する
          window.location = $(e.target).closest('tr').data('href');}
    });
  });
</script>
</body>
</html>