<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>INDEX</title>
  </head>
  <body>
    <h1>{{msg}}</h1>
    <input type="hidden" name="contact-TOTAL_FORMS" value="1" id="id_contact-TOTAL_FORMS">
    <input type="hidden" name="contact-INITIAL_FORMS" value="1" id="id_contact-INITIAL_FORMS">
    <input type="hidden" name="contact-MIN_NUM_FORMS" value="0" id="id_contact-MIN_NUM_FORMS">
    <input type="hidden" name="contact-MAX_NUM_FORMS" value="1" id="id_contact-MAX_NUM_FORMS">
<tr>
<td colspan="2">
<ul class="errorlist nonfield">
<li>(Hidden field contact) コンタクト履歴 with this 来訪者履歴 already exists.</li>
<li>(Hidden field id) This field is required.</li>
</ul>
</td>
</tr>
  </body>
</html>
