    <nav id="sidebar">

        <ul class="list-unstyled components">
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle js-dropdown">カテゴリー</a>
                <div class="js-dropdown-menu">
                <ul class="list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">企業</a>
                    </li>
                    <li>
                        <a href="#">訪問者</a>
                    </li>
                    <li>
                        <a href="#">担当者</a>
                    </li>
                    <li>
                        <a href="#">一覧</a>
                    </li>
                </ul>
                </div>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle js-dropdown2">期間</a>
                <div class="js-dropdown-menu2">
                <ul class="list-unstyled" id="pageSubmenu" style="collapse: hide;">
                    <li>
                        <a href="#">年毎</a>
                    </li>
                    <li>
                        <a href="#">月毎</a>
                    </li>
                </ul>
                </div>
            </li>
        </ul>
    </nav>

